* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  background-image: url(Images/Background.jpg);
  background-position: bottom center;
  background-size: cover;
}

div#page {
  height: 100vh;

  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

div.teclas {
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid black;
  border-radius: .4rem;

  width: 7rem;
  height: 7rem;
  font-size: 1.5rem;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  gap: .3rem;
  align-items: center;
  justify-content: center;

  color: white;
  text-shadow: 0rem 0rem .5rem rgb(218,165,32);
  
  transition: all 0.3s ease;
}

.estiloTecla {
  transform: scale(1.1);
  box-shadow: 0 0 1rem #ffc600;
}